[submodule "Agent"]
	path = Agent
	url = git@github.com:h-akira/TouringProject_Agent.git
[submodule "Backend"]
	path = Backend
	url = git@github.com:h-akira/TouringProject_Backend.git
[submodule "App"]
	path = App
	url = git@github.com:h-akira/TouringProject_App.git
[submodule "CICD"]
	path = CICD
	url = git@github.com:h-akira/TouringProject_CICD.git
